/*CSS*/

/* defining color variables*/
:root {
    --my_navyBlue: rgb(1, 43, 91);;
    --my_specialBlue: rgb(22, 66, 165);
    --my_lightBlue: rgb(55, 193, 255);
  }


/* defining font */
@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Regular.ttf) format("truetype");
  }
@font-face {
    font-family: roboto_medium;
    src: url(fonts/Roboto-Medium.ttf) format("truetype");
  }



/* This creates grids needed in THE WHOLE PAGE */
main {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(75, 20px);
    grid-template-rows: 255px 255px 950px 500px;
}


/* This control top of the page "welcome" */
.mosaic {
    display: grid;
    grid-template-columns: repeat(41, 25px);
    grid-template-rows: repeat(10, 25px);
}

.mosaic__item1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row: 1/1;
}

.mosaic__item1--textura{
    width: 1315px; 
    height: 256px;
}

.mosaic__item2{
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row: 2/10;
}

.mosaic__item2--logo{
    border-radius: 15px;
    width: 200px; 
    height: 200px;
}

.mosaic__JM{
    font-family: roboto_medium;
    color: var(--my_navyBlue);
    font-size: 70px;
    font-weight: bold;
    grid-column-start: 16;
    grid-column-end: 39;
    grid-row: 1/5;
}

.mosaic__myPhone_image{
    display: none;
}


/* This control the sub-section "Professional Summary" */
.summary {
    grid-column-start: 5;
    grid-column-end: 55;
    grid-row: 2/3;
    font-family: roboto;
    font-size: 25px;
}

.summary__title{
    color: var(--my_specialBlue);
    font-family: roboto_medium;
}


/* This control the sub-section "Experience" */
.experience {
    grid-column-start: 5;
    grid-column-end: 55;
    grid-row: 3/4;
    font-family: roboto;
    font-size: 25px;
}

.experience__title{
    color:var(--my_specialBlue);
    font-family: roboto_medium;
}


/* This control the sub-section "Education" */
.education {
    grid-column-start: 5;
    grid-column-end: 45;
    grid-row: 4/5;
    font-family: roboto;
    font-size: 25px;
}

.education__title{
    color: var(--my_specialBlue);
    font-family: roboto_medium;
}



/* This creates grid inside the whole left section */
.aboutMe {
    display: grid;
    grid-template-columns: repeat(16, 20px);
    grid-template-rows: repeat(98, 20px);
}

.aboutMe {
    grid-column-start: 60;
    grid-column-end: 76;
    grid-row: 1/5;
    background-color: var(--my_navyBlue);
    color: white;
    font-family: roboto;
}


.aboutMe li{
    list-style-type: none;
}


/* This controls the my photo & personal info */
.aboutMe__photo{
    grid-column-start: 1;
    grid-column-end: 29;
    grid-row: 4/55;
    text-align: center;
    margin-left: 79px;
    border-radius: 15px;
    width: 165px; 
    height: 295px; 
}

.aboutMe p{
    grid-column-start: 1;
    grid-column-end: 29;
    grid-row: 20/35;
    text-align: center;
    font-family: roboto;
    font-size: 20px;
}

.aboutMe__JM{
    display: none;
}

/* This controls the sub-section "Experience" and bars */
.bars{
    grid-column-start: 1;
    grid-column-end: 29;
    grid-row: 35/140; 
}

.bars__title{
    text-align: center;
}

.bars li{
    font-family: roboto_medium;
    font-size: 20px;
    margin-right: 41px;
    padding-top: 55px;
}

.rectangle {
    height: 15px;
    width: 245px;
    background-color: white;
  }

  .inner__Rectangle--1 {
    height: 15px;
    width: 223px;
    background-color: var(--my_lightBlue);
  }

  .inner__Rectangle--2 {
    height: 15px;
    width: 209px;
    background-color: var(--my_lightBlue);
  }

  .inner__Rectangle--3 {
    height: 15px;
    width: 184px;
    background-color: var(--my_lightBlue);
  }

  .inner__Rectangle--4 {
    height: 15px;
    width: 241px;
    background-color: var(--my_lightBlue);
  }

  .rectangle h4{
      float: right;
  }

  .mobile_version{
    display: none;
}


/* This controls the sub-section "adjectives" */
.adjectives{
    grid-column-start: 2;
    grid-column-end: 29;
    grid-row: 65/140;
    text-align: center;  
}

.adjectives__tittle{
    display: none;
}

.adjectives li{
    font-family: roboto_medium;
    font-size: 20px;
    margin-right: 54px;
    padding-top: 45px;
}


/* This controls the sub-section "contactMe" */
.contactMe {
    grid-column-start: 1;
    grid-column-end: 29;
    grid-row: 88/140;
    justify-content: center;
    align-items: center;
}

.contactme__tittle{
    font-family: roboto;
    text-align: center;
}

.contactMe p{
    padding-left: 1px;
}

.calendar{
    background-color: white;
    padding-top: 63px;
    margin-right: 3px;
}



.mailbox{
    background-color: white;
    padding-top: 63px;
    margin-left: 3px;
}

.contactMe img{
    width: 75px; 
    height: 75px; 
}



/* -----------REACTIVE------------------- */

/*iPad tablet version*/

@media (min-width: 532px) and (max-width: 834px) {

    body {
        width: 768px;
        height: 1024px;
        zoom: 1.010; /* all browsers*/
    }
    /* This creates grids needed in THE WHOLE PAGE */
    main {
        display: grid;
        grid-template-columns: repeat(75, 10px);
        grid-template-rows: 128px 150px repeat(2, 175px) repeat(5, 75px);
    }


    /* This control top of the page "welcome" */
    .mosaic {
        display: grid;
        grid-template-columns: repeat(40, 10px);
        grid-template-rows: repeat(10, 13px);
    }

    .mosaic__item1{
        grid-column-start: 1;
        grid-column-end: 75;
        grid-row: 1/1;
    }

    .mosaic__item1--textura{
        width: 750px; 
        height: 128px;
    }

    .mosaic__item2{
        grid-column-start: 5;
        grid-column-end: 11;
        grid-row: 3/10;
    }

    .mosaic__item2--logo{
        border-radius: 8px;
        width: 77px; 
        height: 77px;
    }

    .mosaic__JM{
        font-family: roboto_medium;
        color: var(--my_navyBlue);
        font-size: 36px;
        font-weight: bold;
        grid-column-start: 16;
        grid-column-end: 45;
        grid-row: 1/6;
    }

    .mosaic__myPhone_image{
        display: none; 
    }


    /* This control the sub-section "Professional Summary" */
    .summary {
        grid-column-start: 5;
        grid-column-end: 55;
        grid-row: 2/3;
        font-family: roboto;
        font-size: 15px;
    }

    .summary__title{
        color: var(--my_specialBlue);
        font-family: roboto_medium;
        font-size: 20px;
    }


    /* This control the sub-section "Experience" */
    .experience {
        grid-column-start: 5;
        grid-column-end: 55;
        grid-row: 3/4;
        font-family: roboto;
        font-size: 15px;
        margin-top: 5px;
    }

    .experience__title{
        color:var(--my_specialBlue);
        font-family: roboto_medium;
        font-size: 20px;
    }


    /* This control the sub-section "Education" */
    .education {
        grid-column-start: 5;
        grid-column-end: 45;
        grid-row: 8/10;
        font-family: roboto;
        font-size: 15px;
    }

    .education__title{
        color: var(--my_specialBlue);
        font-family: roboto_medium;
        font-size: 20px;
    }


    /* This creates grid inside the whole left section */
    .aboutMe {
        display: grid;
        grid-template-columns: repeat(16, 20px);
        grid-template-rows: repeat(55, 20px);
    }

    .aboutMe {
        grid-column-start: 56;
        grid-column-end: 76;
        grid-row: 2/11;
        background-color: var(--my_navyBlue);
        color: white;
        font-family: roboto;
    }

    .aboutMe li{
        list-style-type: none;
    }


    /* This controls the my photo & personal info */
    .aboutMe__photo{
        grid-column-start: 1;
        grid-column-end: 29;
        grid-row: 3/55;
        text-align: center;
        margin-left: 43px;
        border-radius: 7px;
        width: 120px; 
        height: 215px; 
    }

    .aboutMe p{
        grid-column-start: 1;
        grid-column-end: 11;
        grid-row: 14/29;
        text-align: center;
        font-family: roboto;
        font-size: 12px;
    }

    .aboutMe__JM{
        display: none;
    }

    /* This controls the sub-section "Experience" and bars */
    .bars{
        grid-column-start: 1;
        grid-column-end: 29;
        grid-row: 20/140; 
    }

    .bars__title{
        text-align: center;
        padding-right: 121px;
        font-size: 15px;
        
    }

    .bars li{
        font-family: roboto_medium;
        font-size: 12px;
        margin-right: 18px;
        padding-top: 24px;
    }

    .rectangle {
        height: 7px;
        width: 120px;
        background-color: white;
    }

    .inner__Rectangle--1 {
        height: 7px;
        width: 110px;
        background-color: var(--my_lightBlue);
    }

    .inner__Rectangle--2 {
        height: 7px;
        width: 102px;
        background-color: var(--my_lightBlue);
    }

    .inner__Rectangle--3 {
        height: 7px;
        width: 90px;
        background-color: var(--my_lightBlue);
    }

    .inner__Rectangle--4 {
        height: 7px;
        width: 118px;
        background-color: var(--my_lightBlue);
    }

    .rectangle h4{
        float: right;
        font-size: 9px;
    }

    .mobile_version{
        display: none;
    }

    /* This controls the sub-section "adjectives" */
    .adjectives{
        grid-column-start: 1;
        grid-column-end: 29;
        grid-row: 32/140;
        text-align: center;  
    }

    .adjectives__tittle{
        display: none;
    }

    .adjectives li{
        font-family: roboto_medium;
        font-size: 15px;
        margin-right: 152px;
        padding-top: 35px;
    }


    /* This controls the sub-section "contactMe" */
    .contactMe {
        grid-column-start: 1;
        grid-column-end: 29;
        grid-row: 47/60;
    }

    .contactMe{
        justify-content: center;
        align-items: center;
        padding-right: 112px;
    }

    .contactme__tittle{
        font-family: roboto;
        text-align: center;
        font-size: 15px;
    }

    .calendar{
        background-color: white;
        padding-top: 43px;
        margin-right: 3px;
    }

    .mailbox{
        background-color: white;
        padding-top: 43px;
        margin-left: 3px;
    }

    .contactMe img{
        width: 50px; 
        height: 50px; 
    }
    

}


/* -----------REACTIVE------------------- */
/*iPhone Smartphone Version*/

@media (min-width: 201px) and (max-width: 531px) {
    body {
        background-color: var(--my_navyBlue);
        width: 399px;
        height: 1024px;
        color:white;
        text-align: center;
        text-decoration: none;
        zoom: 1.15; /* all browsers*/
    }
    /* This creates grids needed in THE WHOLE PAGE */
    main {
        display: grid;
        grid-template-columns: repeat(15, 10px);
        grid-template-rows: 128px repeat(50, 50px);
    }


    /* This control top of the page "welcome" */
    .mosaic {
        display: grid;
        grid-template-columns: repeat(15, 10px);
        grid-template-rows: repeat(10, 13px);
    }

    .mosaic__item1{
        grid-column-start: 1;
        grid-column-end: 75;
        grid-row: 1/1;
    }

    .mosaic__item1--textura{
        width: 399px; 
        height: 128px;
    }

    .mosaic__item2{
        grid-column-start: 5;
        grid-column-end: 11;
        grid-row: 3/10;
    }

    .mosaic__item2--logo{
        border-radius: 8px;
        width: 77px; 
        height: 77px;
    }

    .mosaic__JM{
        font-family: roboto_medium;
        color: var(--my_navyBlue);
        font-size: 25px;
        font-weight: bold;
        grid-column-start: 16;
        grid-column-end: 45;
        grid-row: 2;
    }

    .mosaic__myPhone_image{
        display: none; 
    }


    /* This control the sub-section "Professional Summary" */
    .summary {
        grid-column-start: 1;
        grid-column-end: 55;
        grid-row: 3;
        font-family: roboto;
        font-size: 15px;
    }

    .summary__title{
        color: var(--my_specialBlue);
        font-family: roboto_medium;
        font-size: 20px;
        color: white;
    }


    /* This control the sub-section "Experience" */
    .experience {
        grid-column-start: 1;
        grid-column-end: 55;
        grid-row: 7;
        font-family: roboto;
        font-size: 15px;
        margin-top: 5px;
        margin-right: 30px;
        text-align: center;
    }

    .experience li{
        list-style-type: none;
    }
    

    .experience__title{
        color:var(--my_specialBlue);
        font-family: roboto_medium;
        font-size: 20px;
        color: white;
        margin-left: 24px;
        text-align: center;
    }


    /* This control the sub-section "Education" */
    .education {
        grid-column-start: 7;
        grid-column-end: 45;
        grid-row: 23;
        font-family: roboto;
        font-size: 15px;
    }

    .education__title{
        color: var(--my_specialBlue);
        font-family: roboto_medium;
        font-size: 20px;
        color:white;
    }


    /* This creates grid inside the whole left section */
    .aboutMe {
        display: grid;
        grid-template-columns: repeat(16, 20px);
        grid-template-rows: repeat(55, 20px);
    }

    .aboutMe {
        grid-column: 5;
        grid-row: 30;
        background-color: var(--my_navyBlue);
        color: white;
        font-family: roboto;
    }

    .aboutMe li{
        list-style-type: none;
    }


    /* This controls the my photo & personal info */
    .aboutMe__photo{
        grid-column-start: 1;
        grid-column-end: 29;
        grid-row: 3/55;
        text-align: center;
        margin-left: 100px;
        border-radius: 7px;
        width: 120px; 
        height: 215px; 
    }

    .aboutMe p{
        grid-column-start: 1;
        grid-column-end: 25;
        grid-row: 14/29;
        text-align: center;
        font-family: roboto;
        font-size: 14px;
        margin-left: 10px;
    }

    .aboutMe__JM{
        display: none;
    }

    /* This controls the sub-section "Experience" and bars */
    .bars{
        grid-column-start: 1;
        grid-column-end: 50;
        grid-row: 20; 
    }

    .bars__title{ 
        text-align: center;
        padding-right: 159px;
        margin-left: 35%;
        font-size: 15px;
        
    }

    .bars li{
        font-family: roboto_medium;
        font-size: 12px;
        margin-right: 1px;
        padding-top: 35px;
        margin-right: 100%;
        text-align: center;
    }

    .rectangle {
        height: 10px;
        width: 242px;
        background-color: white;
        border-radius: 5px;
    }

    .inner__Rectangle--1 {
        height: 10px;
        width: 221px;
        background-color: var(--my_lightBlue);
        border-radius: 5px;
    }

    .inner__Rectangle--2 {
        height: 10px;
        width: 207px;
        background-color: var(--my_lightBlue);
        border-radius: 5px;
    }

    .inner__Rectangle--3 {
        height: 10px;
        width: 182px;
        background-color: var(--my_lightBlue);
        border-radius: 5px;
    }

    .inner__Rectangle--4 {
        height: 10px;
        width: 238px;
        background-color: var(--my_lightBlue);
        border-radius: 5px;
    }

    .rectangle h4{
        float: right;
        font-size: 9px;
    }

    .mobile_version{
        display: none;
    }

    /* This controls the sub-section "adjectives" */
    .adjectives{
        grid-column-start: 2;
        grid-column-end: 50;
        grid-row: 35;
        text-align: center;  
    }

    .adjectives__tittle{
        display: none;
    }

    .adjectives li{
        font-family: roboto_medium;
        font-size: 15px;

    }


    /* This controls the sub-section "contactMe" */
    .contactMe {
        grid-column-start: 1;
        grid-column-end: 38;
        grid-row: 52;
        padding-left: 3px;
    }

    .contactMe{
        justify-content: center;
        align-items: center;
    }

    .contactme__tittle{
        font-family: roboto;
        text-align: center;
        font-size: 15px;
        margin-left: 6px;
    }

    .calendar{
        background-color: white;
        padding-top: 43px;
        margin-right: 3px;
    }

    .mailbox{
        background-color: white;
        padding-top: 43px;
        margin-left: 3px;
    }

    .contactMe img{
        width: 50px; 
        height: 50px; 
    }
    
  
}