/*CSS*/

/* defining color variables*/
:root {
    --my_navyBlue: rgb(1, 43, 91);;
    --my_specialBlue: rgb(22, 66, 165);
    --my_lightBlue: rgb(55, 193, 255);
  }

  
/* defining font */
@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Regular.ttf) format("truetype");
  }
@font-face {
    font-family: roboto_medium;
    src: url(fonts/Roboto-Medium.ttf) format("truetype");
  }



/* This creates grids needed in THE WHOLE PAGE */
main {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(75, 20px);
    grid-template-rows: 255px 255px 950px 500px;
}


/* This control top of the page "welcome" */
.mosaic {
    display: grid;
    grid-template-columns: 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px auto;
    grid-template-rows: 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px;
}

.mosaic__item1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row: 1/1;
}

.mosaic__item1--textura{
    width: 1315px; 
    height: 256px;
}

.mosaic__item2{
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row: 2/10;
}

.mosaic__item2--logo{
    border-radius: 15px;
    width: 200px; 
    height: 200px;
}

.mosaic__JM{
    font-family: roboto_medium;
    color: var(--my_navyBlue);
    font-size: 70px;
    font-weight: bold;
    grid-column-start: 16;
    grid-column-end: 39;
    grid-row: 1/5;
}


/* This control the sub-section "Professional Summary" */
.summary {
    grid-column-start: 5;
    grid-column-end: 55;
    grid-row: 2/3;
}

.summary{
    font-family: roboto;
    font-size: 25px;
}

.summary__title{
    color: var(--my_specialBlue);
    font-family: roboto_medium;
}


/* This control the sub-section "Experience" */
.experience {
    grid-column-start: 5;
    grid-column-end: 55;
    grid-row: 3/4;
}

.experience{
    font-family: roboto;
    font-size: 25px;
}

.experience__title{
    color:var(--my_specialBlue);
    font-family: roboto_medium;
}


/* This control the sub-section "Education" */
.education {
    grid-column-start: 5;
    grid-column-end: 45;
    grid-row: 4/5;
}

.education{
    font-family: roboto;
    font-size: 25px;

}

.education__title{
    color: var(--my_specialBlue);
    font-family: roboto_medium;
}



/* This creates grid inside the whole left section */
.aboutMe {
    display: grid;
    grid-template-columns: repeat(16, 20px);
    grid-template-rows: repeat(98, 20px);
}

.aboutMe {
    grid-column-start: 60;
    grid-column-end: 76;
    grid-row: 1/5;
    background-color: var(--my_navyBlue);
    color: white;
    font-family: roboto;
}


.aboutMe li{
    list-style-type: none;
}


/* This controls the my photo & personal info */
.aboutMe__photo{
    grid-column-start: 1;
    grid-column-end: 29;
    grid-row: 4/55;
    text-align: center;
    margin-left: 79px;
    border-radius: 15px;
    width: 165px; 
    height: 295px; 
}

.aboutMe p{
    grid-column-start: 1;
    grid-column-end: 29;
    grid-row: 20/35;
    text-align: center;
    font-family: roboto;
    font-size: 20px;
}


/* This controls the sub-section "Experience" and bars */
.bars{
    grid-column-start: 1;
    grid-column-end: 29;
    grid-row: 35/140; 
}

.bars__title{
    text-align: center;
}

.bars li{
    font-family: roboto_medium;
    font-size: 20px;
    margin-right: 41px;
    padding-top: 55px;
}

.rectangle {
    height: 15px;
    width: 245px;
    background-color: white;
  }

  .inner__Rectangle--1 {
    height: 15px;
    width: 223px;
    background-color: var(--my_lightBlue);
  }

  .inner__Rectangle--2 {
    height: 15px;
    width: 209px;
    background-color: var(--my_lightBlue);
  }

  .inner__Rectangle--3 {
    height: 15px;
    width: 184px;
    background-color: var(--my_lightBlue);
  }

  .inner__Rectangle--4 {
    height: 15px;
    width: 241px;
    background-color: var(--my_lightBlue);
  }

  .rectangle h4{
      float: right;
  }


/* This controls the sub-section "adjectives" */
.adjectives{
    grid-column-start: 2;
    grid-column-end: 29;
    grid-row: 65/140;
    text-align: center;  
}

.adjectives__tittle{
    display: none;
}

.adjectives li{
    font-family: roboto_medium;
    font-size: 20px;
    margin-right: 54px;
    padding-top: 45px;
}


/* This controls the sub-section "contactMe" */
.contactMe {
    grid-column-start: 1;
    grid-column-end: 29;
    grid-row: 88/140;
}

.contactMe{
    justify-content: center;
    align-items: center;
}

.contactme__tittle{
    font-family: roboto;
    text-align: center;
}

.contactMe p{
    padding-left: 1px;
}

.calendar{
    background-color: white;
    padding-top: 63px;
    margin-right: 3px;
}

.mailbox{
    background-color: white;
    padding-top: 63px;
    margin-left: 3px;
}
