/*css*/

/* defining font*/
@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: roboto_medium;
    src: url(fonts/Roboto-Medium.ttf) format("truetype");
  }


.josue{
    background-color:rgb(221, 208, 208);
}

/* This control top of the page "welcome" */
.mosaic {
    display: grid;
    grid-template-columns: 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px auto;
    grid-template-rows: 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px;
}


.mosaic__item1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row: 1/1;

}

.mosaic__item1--textura{

    width: 1825px; 
    height: 255px;
}

.mosaic__item2{
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row: 2/10;

}


.mosaic__item2--logo{
    border-radius: 15px;
    width: 200px; 
    height: 200px;
}

.mosaic__JM{
    font-family: roboto_medium;
    font-size: 70px;
    font-weight: bold;
    grid-column-start: 16;
    grid-column-end: 39;
    grid-row: 1/5;
}


/* This control Professional Summary */
.summary{
    /*background-color: yellow;*/
    font-family: roboto;
    font-size: 25px;
    padding-left: 75px;
    padding-right: 35px;
}

.summary__title{
    color:rgb(22, 66, 165);
    font-family: roboto_medium;
}


.experience{

    /*background-color: rgb(160, 28, 149);*/
    font-family: roboto;
    font-size: 25px;
    padding-left: 75px;
    padding-right: 35px;
}

.experience__title{
    color:rgb(22, 66, 165);
    font-family: roboto_medium;
}


.education{
    /*background-color: lawngreen;*/
    font-family: roboto;
    font-size: 25px;
    padding-left: 75px;
    padding-right: 35px;
}

.education__title{
    color:rgb(22, 66, 165);
    font-family: roboto_medium;
}


/* This control all sections inside "aboutMe" */
.aboutMe {
    background-color: rgb(1, 43, 91);
    color: white;
    font-family: roboto;

}

.aboutMe li{
    list-style-type: none;
}


/* This controls the sub-section "adjectives" */
.bars__title{
    text-align: center;
}


.adjectives__tittle{
    text-align: center;
}

.aboutMe__photo{
    margin-left: 28%;
    margin-top: 15%;
    border-radius: 15px;
    width: 145px; 
    height: 255px;
 
}

.aboutMe p{
    text-align: center;
}

/* This controls the sub-section "contactMe" */

.contactMe{
    justify-content: center;
    align-items: center;
}

.contactme__tittle{
    font-family: roboto;
    text-align: center;
}

.contactMe p{
    padding-left: 25%;
}

.calendar{
    background-color: white;
    padding-top: 59px;
    margin-right: 3px;
}

.mailbox{
    background-color: white;
    padding-top: 59px;
    margin-left: 3px;
}




/* This creates grids needed in the whole page */

main {
    height: 100vh;
    display: grid;
    grid-template-columns: 70% auto;
    grid-template-rows: 250px 250px 800px 500px;
}


.josue {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1/2;
}

.summary {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2/3;
}


.experience {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 3/4;
}

.education {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 4/5;
}

.aboutMe {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row: 1/6;
}